body {
	overflow: hidden;
	font-family: 'Segoe UI', sans-serif;
	background-image: url('wplight.jpg');
	background-position: center;
	background-size: cover;
}

body.dark {
	background-image: url('wpdark.jpg');
}

.mica {
	background-color: rgba(15, 15, 15, 0.9);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.context {
	position: absolute;
	z-index: 4;
	border-radius: 1vh;
}

.contextitem {
	display: block;
	height: 6vh;
	width: 12vw;
	padding: 1vh;
	margin: 1vh;
	border-radius: 1vh;
	border: none;
	outline: none;
	color: #ddd;
	border: 1px solid #ddd;
	background: none;
}

.divider {
	width: calc(100% - 4vh);
	height: 1px;
	padding: 0;
	margin: auto;
	background-color: #ddd;
}

.window {
	position: absolute;
	border-radius: 12px;
	min-width: 30px;
	min-height: 30px;
	width: 60vw;
	height: 60vh;
	border: 1px solid #aaa;
	resize: both;
	overflow: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
}

.focus {
	z-index: 2;
}

.fullscreen {
	width: 100% !important;
	height: 100% !important;
	outline: none !important;
}

.windowbar {
	background-color: #aaa;
	flex: 0 0 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

::-webkit-resizer {
	display: none;
}

.windowtitlebox {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.windowbarspacer {
	flex: 10 1 auto;
}

.windowbarbutton {
	flex: 1 0 auto;
	max-width: 40px;
	max-height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
	transition: 300ms;
}

.windowbarbutton:hover {
	background-color: red;
}

.windowbarbutton>svg {
	max-width: 60%;
	max-height: 100%;
	min-width: 60%;
	min-height: 100%;
	margin: auto;
}

.windowoptions {
	position: absolute;
	z-index: 3;
	width: 10%;
	height: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: stretch;
	background-color: #aaa;
	border-radius: 5px;
}

.windowoption {
	padding: 5px;
	text-align: center;
	color: #000;
	transition: 300ms;
	border-radius: 5px;
}

.windowoption:hover {
	background-color: #959595;
}

.windowcontent {
	flex: 1 0 auto;
}

#taskbar {
	position: fixed;
	width: 100%;
	height: 6vh;
	bottom: 0;
	z-index: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.taskbaritem {
	max-height: 5vh;
	min-height: 5vh;
	height: 5vh;
	aspect-ratio: 1/1;
	flex: 0 1 auto;
	transition: 300ms;
	padding: 2px;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
}

.taskbaritem:hover {
	background-color: #959595;
	border-radius: 5px;
	margin-left: 0.8vw;
	margin-right: 0.8vw;
}

.taskbaritem>svg {
	color: #ddd;
}