body {
	overflow: hidden;
	font-family: 'Segoe UI', sans-serif;
	background-image: url('wplight.jpg');
	background-position: center;
	background-size: cover;
}

body.dark {
	background-image: url('wpdark.jpg');
}

.mica {
	background-color: rgba(15, 15, 15, 0.9);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

#taskbar {
	position: fixed;
	width: 100%;
	height: 6vh;
	bottom: 0;
	z-index: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.taskbaritem {
	max-height: 5vh;
	min-height: 5vh;
	height: 5vh;
	aspect-ratio: 1/1;
	flex: 0 1 auto;
	transition: 300ms;
	padding: 2px;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
}

.taskbaritem:hover {
	background-color: #959595;
	border-radius: 5px;
	margin-left: 0.8vw;
	margin-right: 0.8vw;
}

.taskbaritem>svg {
	color: #ddd;
}